* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
}
a {text-decoration: none;}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 4rem ;
    align-items: center;
}
.navright {
    display: flex;
    gap: 4rem;
}
.navleft {
    display: flex;
    gap: 2rem;
    margin-left: auto;
}
.navItems{
    display: flex;
    align-items: flex-end;
    gap: 2.6rem;
}
.navItem {
    display: flex;
    align-items: center;
    gap: px;
}
.item1{
    border-right: 1px solid;
    padding: 10px 30px 10px;
}
.item2{
    font-size: 30px;
}
.navItem span{
    font-size: 1.3em; 
}
.navItem a{
    color: rgb(41, 41, 41); 
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img {
    width: 7.5rem;
    height: auto;
}

.sect1{
    max-width: 100%;
    margin: 10rem 4rem;
    display: flex;
    gap: 5em;
    flex-direction: column;
    align-items: center;
}
.sect1Cont1{
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    max-width: 40em;
}
.sect1Cont1 a{
    font-size: 1.5rem;
    color: rgb(41, 41, 41); 
}

.sect1Cont1 span{
    font-size: 2rem;
}
.link:hover{
    color: rgb(80, 80, 80); 
}
.sect1Cont1 h2{
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
.sect1cont2 {
    width: 80%
}
.sect1cont2 img{
    width: 100%;
}